@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

@page {
    size: A4;
    margin: 15mm;
  }

@media print {
  html body {
    width: 210mm;
    height: 297mm;
  }

  html body pre {
    border: 1px solid rgb(97, 96, 96);
  }    
}

html body {
    font-family: "cwTeXYen", serif;
    font-size: 14pt;
    counter-reset: h1ctr;
}

img[alt] {
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre[class*="language-"] {
    border: 1px solid rgb(187, 182, 182);
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

h1,
h2,
h3, h4 {
    font-size: 16pt !important;
}

html header {
    font-size: 18pt;
    text-align: center;
}

.author {
    text-align: center;
    font-size: 12pt;
}


/* Header Numbering */

h1 {
    counter-reset: h2ctr 0 step_ctr 0;
    /* counter-reset: h2ctr;  */
}

h1:before {
    counter-increment: h1ctr;
    content: counter(h1ctr) ". ";
}

h2 {
    counter-reset: h3ctr;
    counter-increment: h2ctr;
    
}

h2::before {
    content: counter(h1ctr) "." counter(h2ctr) " ";
}

h3 {
    counter-reset: h4ctr;
}

h3::before {
    counter-increment: h3ctr;
    content: counter(h1ctr) "." counter(h2ctr) "." counter(h3ctr) " ";
}

h4 {
    counter-increment: h4ctr;
}
h4::before {
    content: "(" counter(h4ctr, lower-alpha) ") ";
}

html body pre {
    border: 1px solid #ddd;
}

.step::after {
    content: " " counter(step_ctr) ". "
 }

 .step {
     counter-increment: step_ctr;
     font-weight: bold;
 }

